*{
    margin: 0;
    box-sizing: border-box;

}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 400px;
    width: 60vw;                    /* cuando inicie es el 60% de la pantalla  */
    background: rgb(21, 27, 72);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'lucida Sans';
    color: white;
    box-shadow: 10px 15px 43px #000;
}

.form h1{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.date {
    padding: 10px;
    min-width: 5rem;
    margin-bottom: 16px;
    background: rgb(243, 244, 246);
    border-radius: 4px;
    border: 1px solid rgba(85, 0, 255, 0.835);
    font-family: 'geneva';
    font-size: 18px;
    color: rgb(21, 27, 72);
}

.button{
    padding: 16px;
    color: white;
    width: 60%;
    background: rgb(1, 1, 33);
    border: none;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.form p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form a{
    color: white;
    text-decoration: underline;
}

body{
    background-image: url('fondoform.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
