.container{
    width: 350px;
    border: 2px solid rgb(156, 156, 168);
    border-radius: 10px;
    box-shadow: 1px 1 px 4px #8d99ae;
    background-color: azure;
}

.titulo{
    justify-content: center;
}

.minimo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.maximo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imagen{
    float: left
}

.boton{
    background-color: red;
    color: white;
    display: flex;
    justify-content: flex-end;    
}