.cualquiercosa{
  background-color: aqua;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #b013b574;
  background-color: rgba(250, 23, 231, 0.2);
  position: relative;
  height: 10rem;
  margin: 1rem;
}

.error{
  font-family: 'Trebuchet MS';
  font-size: 20pt;
}

.botoncito{
  position: absolute;
  margin-left: 8rem;
  background-color: rgb(254, 124, 222);
  border-radius: 50%;
  color: white;
  top: 5px;
  
}

.temperaturas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.minimo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 30pt;
}

.maximo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 30pt;
}

