#logoHenry {
 width: 100px;
 height: 200px;
}

.henry{
  font-size: xx-large;
  font-weight:500;
  text-align: right;
  color: black;
  text-decoration: wavy;
}

.navbar{
  background: rgb(245, 203, 208);
  display: flex;
}